services:
  - type: web
    name: tpa-backend
    env: node
    plan: free
    buildCommand: "npm ci && npm run build:render"
    startCommand: "node --max-old-space-size=2048 dist/server.js"
    envVars:
      - key: NODE_OPTIONS
        value: "--max-old-space-size=2048"
      - key: NODE_ENV
        value: production
    autoDeploy: true
